
    
body
    color: #212121
    font-family: Roboto, sans-serif
    margin: 0
    padding: 0


.app
    // background: #dcdcdc
    background:#e2eaeb


    // background: #d5d5d5
    // background: #427ec4
    font-size: 60px
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    position: relative
    min-height: 100vh
    &__inner
        display: flex
        justify-content: center
        text-align: center
        margin: 0px auto
        margin-top: 30px
        height: 100px
        min-height: 100px
        max-height: 100px
        width: 150px
        max-width: 150px
        min-width: 150px
        &__logo
            height: 100px
            min-height: 100px
            max-height: 100px
            width: 150px
            max-width: 150px
            min-width: 150px

.wrapBtn
    display: flex
    flex-direction: column
    margin-top: 50px
    background:  #181818
    position: relative
    border-radius: 33px
    padding-top: 20px
    max-width: 700px
    max-height: auto
    height: 100%
    width: 100%
    padding-bottom: 5px
    

    &__title
        font-family: 'Balsamiq Sans', cursive
        font-size: 26px
        text-align: center
        margin-top: 7px
        margin-bottom: 22px
        margin-left: auto
        margin-right: auto
        color: #ffff
        text-align: center

.anime
    animation: opacity 1.2s ease-in-out

.animeLogo
    animation: opacity .4s ease-in-out

@keyframes opacity
    0%
        opacity: 0
    100%
        opacity: 1

.title
    font-size: 25px
    font-weight: 400
    text-align: center
    margin: 30px 15px
    white-space: nowrap
    font-family: 'Balsamiq Sans', cursive


@media screen and (max-width: 992px) 
    .app
        padding-bottom: 0px
    .wrapBtn
        margin-top: 16px
        &__btn
            padding: 10px 8px
            &__img
                height: 38px
                min-height: 38px
                max-height: 38px
                width: 38px
                max-width: 38px
                min-width: 38px
        &__tell
            font-size: 22px
            padding: 10px 8px





@media screen and (max-width: 580px) 
    .title
        font-size: 23px

@media screen and (max-width: 412px) 
    .wrapBtn
        margin-top: 20px

@media screen and (max-width: 375px) 
    .wrapBtn
        margin-top: 12px

   

    
